@media (prefers-color-scheme: dark) {
  :root {
    --background-n1: #374151;
    --background-n2: #374151;
    --background-n3: #374151;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-n1: #ffffff72;
    --background-n2: #ffffff9d;
    --background-n3: #ffffffdf;
  }
}

.effect_blur {
  background: var(--background-n1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px 0 rgba(87, 179, 245, 0.5);
}
.effect_blur1 {
  background: var(--background-n1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px 0 rgba(87, 179, 245, 0.5);
}
.effect_blure {
  background: var(--background-n1);
  backdrop-filter: blur(5px);
}
.effect_blures {
  background: var(--background-n2);
  backdrop-filter: blur(5px);
}
.effect_bluresT {
  background: var(--background-n3);
  backdrop-filter: blur(12px);
}
.effect_blur2 {
  background: var(--background-n1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 rgba(87, 179, 245, 0.5);
}
._skip_l::-webkit-scrollbar {
  width: 13px;
  background: var(--bgcolor-login);
  padding: 3;
}

._skip_l::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
  border-right: 2px solid var(--bgcolor-login);
  border-left: 2px solid var(--bgcolor-login);
}
body > .skiptranslate {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
@media print {
  #google_translate_element {
    display: none;
  }
}


.contenedor_pages{

  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "header header"
                       "menu contenido";
}
.contenedor_pages.activess {
  grid-template-columns: 170px auto;
 

}
.header_dasboard{
  grid-area: header;
 
}

.menu-lateral{
  grid-area: menu;

}

.contenido{
  grid-area: contenido;;
}